/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit],[type=reset] {
    background-color: lightgreen;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: green;
}

input[type=reset]:hover {
    background-color: green;
}

.center {
  text-align: center;
  align: center;
}

.label {
    font-size: large;
    font-weight:bold
}


